# Query Expansion
### Using FastText Word Embedding
Based on this paper: https://arxiv.org/pdf/1606.07608.pdf

Pre-made vector models: https://fasttext.cc/docs/en/aligned-vectors.html

In [454]:
from gensim.models import KeyedVectors
from itertools import islice
from sklearn.feature_extraction.text import TfidfVectorizer

import pandas as pd
import string
import numpy as np
import collections
import math

# import natural language toolkit
from nltk.corpus   import stopwords
from nltk.tokenize import word_tokenize
# prepare stopword list
stop_words = stopwords.words('english')

In [2]:
def take(n, iterable):
    "Return first n items of the iterable as a list"
    return list(islice(iterable, n))

In [3]:
import os
os.listdir()

['.ipynb_checkpoints', 'data', 'modules', 'query-expansion.ipynb']

In [4]:
wiki_en_align = '../../data/fasttext/wiki.en.align.vec'
# get fasttext wiki embeddings for english
wv_wiki_en = KeyedVectors.load_word2vec_format(wiki_en_align)
print('english words {}'.format(len(list(wv_wiki_en.vocab.keys()))))

C:\Users\sarab\Miniconda3\envs\envirolens\lib\site-packages\smart_open\smart_open_lib.py:398: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

english words 2519370

## Pre-retrieval kNN Based Approach

In [5]:
#list of terms
def tokenize(text, stopwords):
    """Tokenizes and removes stopwords from the document"""
    tokens = word_tokenize(text)
    filtered = [w.lower() for w in tokens if not w in stopwords]
    return filtered

In [43]:
#extended list of terms ###
def extend_tokens(token_list, wv):
    """Extends token list summing vector pairs"""
    tokens = []
    for token in token_list:
        # check if the token is in the vocabulary
        if token in wv.vocab.keys():
            tokens.append(token)
    extention = set()
    for i in range(len(tokens)-1):
        new_token = wv_wiki_en.most_similar(positive=[tokens[i], tokens[i+1]])[0][0]
        extention.add(new_token)
    extention = list(extention)
    return extention

In [44]:
test = tokenize('water pollution underground', stop_words)
print(test)
ext = extend_tokens(test,wv_wiki_en)
print(ext)

['water', 'pollution', 'underground']
['pollutions', 'undergrounding']

In [45]:
test1 = tokenize('annex fishing agreement europe', stop_words)
print(test1)
ext1 = extend_tokens(test1,wv_wiki_en)
print(ext1)

['annex', 'fishing', 'agreement', 'europe']
['agreements', 'flwfishing']

In [46]:
# knn nearest
def get_candidate_expansion_terms(tokens, k, wv):
    """Gets the candidate expansion terms"""
    candidates = set()
    for token in tokens:
        # check if the token is in the vocabulary
        if token in wv.vocab.keys():
            result = wv.similar_by_word(token)
            limit = k if len(result) > k else len(result)
            # iterate through the most similar words
            for i in range(limit):
                candidates.add(result[i][0])
    # return list of candidates
    candidates = list(candidates)
    return candidates

In [47]:
candidates = get_candidate_expansion_terms(test+ext, 5, wv_wiki_en)
print(candidates)
witout = get_candidate_expansion_terms(test, 5, wv_wiki_en)
print(witout)

['pollutions', 'undergrounders', 'potable', 'undergroun', 'undergroung', 'biopollution', 'earpollution', 'pollution', 'undergrounder', 'undergrounded', 'groundwater', 'undergrounding', '#pollution', 'seawater', 'sewage', 'water—', 'undergrounds', 'pollution,', 'pollutants']
['biopollution', 'groundwater', 'earpollution', 'undergrounding', '#pollution', 'undergrounds', 'seawater', 'pollutions', 'pollution,', 'undergrounded', 'sewage', 'potable', 'undergroun', 'undergroung', 'water—']

In [48]:
# similarity between word and list of words
def similarity(token, token_list, wv ):
    """calculates the similarity between word and list of words"""
    # calculate the similarity of the token to all tokens
    similarity = 0
    num_of_tokens = 0
    for toks in token_list:
        # check if the token is in the vocabulary
        if toks in wv.vocab.keys():
            num_of_tokens += 1
            similarity += wv.similarity(toks, token)
    return similarity/num_of_tokens

In [49]:
# calculates similarity and sorts
def get_top_expansion_terms(tokens, candidates, wv):
    """Gets the actual expansion terms"""
    similarity_pairs = []
    for candidate in candidates:
        sim = similarity(candidate, tokens, wv)
        similarity_pairs.append((candidate, sim))
    # return the list of expansion terms with their similarities
    return similarity_pairs

In [82]:
top = get_top_expansion_terms(test+ext, candidates,  wv_wiki_en)
topwithout = get_top_expansion_terms(test, candidates,  wv_wiki_en)
def takeSecond(elem):
    return elem[1]
top = sorted(top, key=takeSecond)[::-1]
topw = sorted(topwithout, key=takeSecond)[::-1]
print((top))
print((topw))
top = top[0:5]
topw = topw[0:5]
top_list = []
for tupl in top:
    top_list.append(tupl[0])
topw_list = []
for tupl in topw:
    topw_list.append(tupl[0])

top1 = get_top_expansion_terms(test1+ext1, candidates,  wv_wiki_en)
topwithout1 = get_top_expansion_terms(test1, candidates,  wv_wiki_en)
def takeSecond(elem):
    return elem[1]
top1 = sorted(top1, key=takeSecond)[::-1]
topw1 = sorted(topwithout1, key=takeSecond)[::-1]
top1 = top1[0:5]
topw1 = topw1[0:5]
top_list1 = []
for tupl in top1:
    top_list1.append(tupl[0])
topw_list1 = []
for tupl in topw1:
    topw_list1.append(tupl[0])

[('pollution', 0.6260276407951795), ('pollutions', 0.5989783010567384), ('undergrounding', 0.5868486694404182), ('earpollution', 0.5791309410113682), ('pollution,', 0.5584437076938438), ('pollutants', 0.5473505877035749), ('groundwater', 0.5472185974670385), ('sewage', 0.5438533174483885), ('undergrounds', 0.5373294534380543), ('#pollution', 0.5307803259871704), ('biopollution', 0.5239432296935493), ('undergrounded', 0.5166503920961191), ('undergrounders', 0.5048834686641379), ('undergroun', 0.4968187167322256), ('undergrounder', 0.4930006599112927), ('undergroung', 0.489668825408463), ('seawater', 0.48062588166948944), ('potable', 0.47213486261999227), ('water—', 0.4339509338693007)]
[('pollution', 0.6073097696558459), ('groundwater', 0.572225614085378), ('sewage', 0.5672777675468184), ('earpollution', 0.5479508482970045), ('pollutions', 0.5392823009654663), ('pollution,', 0.5361565112564385), ('pollutants', 0.5332377192240293), ('seawater', 0.5219145986771884), ('undergrounding', 0.5190662482715993), ('potable', 0.5137930541544308), ('#pollution', 0.5053773015402238), ('biopollution', 0.504703593451706), ('undergrounds', 0.48430795952141487), ('water—', 0.47646895745070106), ('undergrounded', 0.46550011202029024), ('undergrounders', 0.4524525797301971), ('undergroun', 0.4511787727249055), ('undergroung', 0.4484747924647392), ('undergrounder', 0.44571173169707395)]

In [51]:
# all functions together, finds k nearest for each term, returns top n
def pre_retrieval_KNN(string, k, wv, n):
    """Find the most similar tokens to the given query"""
    tokens = tokenize(string, stop_words)
    candidates = get_candidate_expansion_terms(tokens, k, wv)
    candidates_sim = get_top_expansion_terms(tokens, candidates, wv)
    def takeSecond(elem):
        return elem[1]
    sort = sorted(candidates_sim, key=takeSecond)[::-1]
    return sort[:n]

In [52]:
pre_retrieval_KNN('deep learning', 5, wv_wiki_en, 10)

[('learning,', 0.5336429871558637),
 ('learnings', 0.5210396371333685),
 ('relearning', 0.509084270159704),
 ('#learning', 0.5073417997822549),
 ('learning—in', 0.5062408798333076),
 ('deeper', 0.49509854997328506),
 ('deepest', 0.42268526313403443),
 ('deeps', 0.4007843076134384),
 ('depths', 0.38366839401470537),
 ('shallow', 0.37273796552767363)]

In [53]:
# import postgresql
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)
from modules.library.postgresql import PostgresQL
# connect to the postgresql database
pg = PostgresQL() 
pg.connect(database="eurlex_env_only", user="postgres", password="solata.2018")

In [54]:
#import documents 
documents = pg.execute("""
    SELECT * FROM documents;
""")

In [55]:
print(len(documents))
documents[100]

123157

{'document_id': 97,
 'document_celex_num': '21987A0305(01)',
 'document_title': 'Agreement in the form of an exchange of letters between the European Economic Community and the United States of America - Side Letters I-III',
 'document_author': 'European Economic Community',
 'document_form': 'International agreement',
 'document_date': datetime.date(1986, 11, 3),
 'document_text': '5.3.1987\xa0\xa0\xa0ENOfficial Journal of the European CommunitiesL 62/23AGREEMENTin the form of an Exchange of Letters between the European Economic Community and the United States of AmericaSir,I hereby enclose the text of the Agreement between the United States and the European Community which was reached ad referendum on 10 August 1986. I believe this text includes all the necessary technical elements meeting the needs of both sides. I can confirm the acceptance of the Agreement by the United States Government, subject to the enactment of necessary legislation to implement the United States tariff concessions set out in Annex B. My Government further understands that, except as provided in footnote 3 of the Agreement, the implementation of Parts A and B of the Annex will take place simultaneously upon enactment of this necessary implementing authority.I would be grateful if you could confirm the acceptance of the Agreement by the European Community. This would then conclude the Agreement between the United States and the European Community, as set out in the enclosed text and subject to the above understandings.For the Government of the United States of AmericaBrussels,Sir,I acknowledge receipt of your letter accepting the Agreement between the United States and the European Community which we reached on 10 August 1986 of which the text is as follows:‘I hereby enclose the text of the Agreement between the United States and the European Community which was reached ad referendum on 10 August 1986. I believe this text includes all the necessary technical elements meeting the needs of both sides. I can confirm the acceptance of the Agreement by the United States Government, subject to the enactment of necessary legislation to implement the United States tariff concessions set out in Annex B. My Government further understands that, except as provided in Footnote 3 of the Agreement, the implementation of Parts A and B of the Annex will take place simultaneously upon enactment of this necessary implementing authority.I would be grateful if you could confirm the acceptance of the Agreement by the European Community. This would then conclude the Agreement between the United States and the European Community, as set out in the enclosed text and subject to the above understandings.’.I have the honour to confirm acceptance of the Agreement by the Community. This therefore concludes the Agreement between the United States and the European Community in accordance with the terms of your letter and attached text, and on the understandings contained therein.Please accept, Sir, the assurance of my highest consideration.On behalf of the Council of the European CommunitiesAGREEMENTTHE UNITED STATES AND THE EUROPEAN COMMUNITY,CONSCIOUS of the important role which continued improvements in their bilateral trading relations play in the effective working of the open multilateral trading system;and DETERMINED to settle in a mutually satisfactory way the long-standing dispute over the effects of the European Communitys preferential agreements in the Mediterranean region (referred to as ‘the Agreements’)\xa0(1), as they pertain to access to the Community market for citrus\xa0(2),AGREE ON THE FOLLOWING ARRANGEMENT:A.The United States recognizes that the Agreements provide important opportunities for economic development and political stability in the Mediterranean region.Consequently, the United States expresses its support for the Agreements, and agrees not to challenge them (including further preferences the European Community is prepared to grant to these countries under the additional protocols to these Agreements now under negotiation) as inconsistent with Article XXIV of the GATT.B.The United States agrees not to present additional claims in relation to Mediterranean preferences on citrus taking into account future preferential treatment on these products provided for through the additional protocols now under negotiation.Subject to the completion of internal legal procedures by both parties\xa0(3):—the European Community will put into effect and bind in the GATT the import measures as provided for in Part A of the Annex;—the United States will put into effect and bind in the GATT the import measures as provided for in Part B of the Annex.C.On completion of internal procedures by both parties, the United States will eliminate the increase in the rates of duty on Community pasta imposed since 1 November 1985, and the Community will eliminate the increase in the rates of duty on United States lemons and walnuts applied since 4 November 1985.D.Both parties agree to proceed in good faith in seeking a prompt solution to their dispute over pasta refunds. Should a mutually satisfactory solution to the dispute not be found prior to the later of (1) United States congressional approval of the duty reductions delineated in Part B of the Annex, or (2) 1 July 1987, then either party may, at its discretion, choose not to put into effect and/or not to bind in the GATT the import measures in the Annex, as would otherwise be required by paragraph B. If the discretion not to bind in the GATT were exercised, and should the import measures in the Annex not be implemented or maintained or should new restrictions be introduced on pasta from the European Community then the other party would have the right to pursue re-negotiation of this agreement, or to terminate it.During the interim, the United States Government will refrain from initiating unilateral action against pasta from the European Community and will not pursue the GATT panel case on this product.E.The United States and the European Community agree that the Arrangement as specified above resolves definitively the dispute on citrus. On the entry into effect of this Agreement, they will both inform the GATT Council that they have resolved the citrus dispute in a mutually satisfactory way.(1)\xa0\xa0Algeria, Cyprus, Egypt, Israel, Jordan, Lebanon, Malta, Morocco, Syrie, Tunisia, Turkey, Yugoslavia.(2)\xa0\xa0For the purposes of this understanding citrus means the following products: fresh sweet oranges, fresh lemons, fresh grapefruit, fresh tangerines, orange juice, lemon juice, grapefruit juice, grapefruit segments, dry pectin.(3)\xa0\xa0Without prejudice to paragraph (D), as soon as the United States Government increases the Community quota for cheese falling under TSUS Item 950.10 by 1\xa0572 metric tonnes and increases the quota for the Community (reserved Portugal) under TSUS Item 950.10 D by 353 metric tonnes, the Community will provisionally apply the autonomous trade measures laid down in the Annex for sweet oranges, minneolas and frozen concentrated orange juice. These new quotas for European Community cheese and for United States frozen concentrated orange juice will be applied pro rata on a calendar year basis.ANNEXIMPORT MEASURES REFERRED TO IN PARAGRAPH BPART A — EUROPEAN COMMUNITYTariff ItemArticleex 08.02 A ISweet oranges, high quality:The duty will be reduced to 10 % ad valorem for an aggregate quantity of 20\xa0000 metric tonnes entered during the months of February, March and April, inclusive.ex 08.02 B IIGrapefruit hybrids known as ‘Minneolas’:The duty will be reduced to 2 % ad valorem for an aggregate quantity of 15\xa0000 metric tonnes entered during the months of February, March and April, inclusive.08.02 CLemons:The duty will be reduced to 6 % ad valorem for an aggregate quantity of 10\xa0000 metric tonnes entered during the period 15 January to 14 June, inclusive.08.02 DGrapefruit:The duty will be reduced to 1,5 % ad valorem during the months of November to April, inclusive.08.05 A IIAlmonds, other than bitter almonds:The duty will be reduced to 2 % ad valorem for an aggregate quantity of 45\xa0000 metric tonnes entered in any calendar year.ex 20.06 A IGroundnuts, roasted, in immediate packings of a net capacity of more than 1 kg:The duty will be reduced to 12 % ad valorem.ex 20.06 A IIGroundnuts, roasted, in immediate packings of a net capacity of 1 kg or less:The duty will be reduced to 14 % ad valorem.ex 20.07 B II a) 1Frozen concentrated orange juice, without added sugar, having a degree of concentration of up to 50 degrees Brix, in containers of 2 litres or less, not containing blood orange concentrate:The duty will be reduced to 13 % ad valorem for an aggregate quantity of 1\xa0500 metric tonnes, entered in any calendar year.PART B — UNITED STATESTariff ItemArticle112.40Anchovies, prepared or preserved in any manner, in oil, in airtight containers:The duty will be reduced to 3 % ad valorem for an aggregate quantity of 3\xa0000 metric tonnes entered in any calendar year.117.55 pt.Romano made from cows milk, Reggiano, Parmesano, Provolone, and Provelette cheeses provided for in TSUS Item 950.10:The quota for the European Economic Community will be increased by 1\xa0572 metric tonnes entered in any calendar year.117.65Cheese made from sheeps milk, in original loaves and suitable for grating:The duty will be reduced to free.117.67Pecorino cheese made from sheeps milk, in original loaves, not suitable for grating:The duty will be reduced to free.117.8855 pt.Cheeses, provided for in TSUS Item 950.10 D:The quota for the European Economic Community will be increased by the amount of cheese transferred because of the accession of Portugal, including 353 metric tonnes to be reserved for Portugal entered in any calendar year.147.29 pt.Satsumas, packed in airtight containers:The duty will be reduced to free for an aggregate quantity of 40\xa0000 metric tonnes entered in any calendar year.148.4440 pt.Olives, in brine, not ripe and not pitted or stuffed, green in colour, in containers holding three gallons or more each to be used for re-packing or sale as green olives:The duty will be reduced to 10 cents per gallon for an aggregate quantity of 4\xa0400 metric tonnes entered in any calendar year.148.48 pt.Olives, in brine, ripe, but not pitted or stuffed, green in colour, in containers holding five gallons or less each:The duty will be reduced to 15 cents per gallon for an aggregate quantity of 730 metric tonnes entered in any calendar year.148.5065Olives, in brine, stuffed, placed packed, in containers each holding not more than 0,3 gallon:The duty will be reduced to 15 cents per gallon for an aggregate quantity of 2\xa0700 metric tonnes entered in any calendar year.148.52Olives, dried, not ripe:The duty will be reduced to 2,5 cents per pound.148.56.00 pt.Olives, prepared or preserved other than in brine or dried, green in colour, in containers holding five gallons or less each:The duty will be reduced to 2,5 cents per pound for an aggregate quantity of 550 metric tonnes entered in any calendar year.161.06Capers, in immediate containers holding more than 7,5 pounds:The duty will be reduced to 8 % ad valorem.161.08Capers, other:The duty will be reduced to 8 % ad valorem.161.71Paprika, ground or not round:The duty will be reduced to 1,35 cents per pound.167.15Cider, fermented, whether still or sparkling:The duty will be reduced to 1,5 cents per gallon.176.29Olive oil, weighing with the immediate container under 40 pounds:The duty will be reduced to 2,28 cents per pound on contents and container.176.30Olive oil, weighing with the immediate container 40 pounds or over:The duty will be reduced to 1,56 cents per pound.Side Letter I: from the Community to the United StatesSir,The reference to ‘future preferential treatment’ in paragraph (B) of the European Community/United States arrangement includes treatment through tariffs or tariff quotas. In addition, for the 1990 marketing year and for each subsequent year, the Commission will decide whether the entry price for certain products should be differentiated in order to maintain the traditional trade patterns as among the various Mediterranean exporting countries. Any such differentiation would be carried out within quantified limits and would not be operated so as to impair access under the European Communities/United States arrangement.Side Letter II: from the United States to the CommunitySir,I am pleased we have at long last reached an agreement which resolves the citrus dispute. I appreciate your great personal efforts and those of your team. We can take pride that our solution will liberalize trade on both sides.I understand that there has been some concern within the Community that the United States has additional claims with respect to other products beyond the citrus issue that may be brought forward now that we have resolved citrus. I am certainly not aware of any such claims at this time. Given that, over the long history of your agreements, the citrus industry is the only United States industry that has put forward claims based on the effects of European Community preferences for these Mediterranean countries, I have no expectation that we will be encountering new complaints in the foreseeable future.As you noted during our discussions, it is clear that, except as otherwise provided in our arrangement, both parties reserve their rights. If disputes should arise in the future, either from our concerns or yours, we should first seek solutions through timely consultations.Side Letter III: from the Community to the United StatesSir,With reference to paragraph (D) of the European Community/United States Agreement on Citrus/Pasta, this is to inform you that, should the United States Government be unable to fulfill the undertakings in the final sentence of the paragraph, or the United States Government actually apply new trade restrictions on European Community pasta exports, then the Commission would introduce the necessary Community procedures to terminate the Agreement.Top'}

### Document search

In [245]:
docs = documents
# some docs are empty !!!!!!!!!!!!!!!!!!!

# for doc in docs:
#     idd= doc.get('document_id')
#     if idd == 39722:
#         print(doc)

delete = []
for doc in docs:
    n = len(doc.get('document_text'))
    if n == 0:
        id_doc = doc.get('document_id')
        delete.append(id_doc)
            
# remove empty docs
for doc in docs:
    id_doc = doc.get('document_id')
    if id_doc in delete:
        docs.remove(doc)

In [246]:
print(len(docs))

81992

In [247]:
#get tokenzized documents (texts), texts, tokenzized titles and titles
tokenized_docs = {}
tokenized_titles = {}
texts = {}
titles = {}
for document in docs:
    doc_id = document.get('document_id')
    text = document.get('document_text')
    texts.update({doc_id: text})
    title = document.get('document_title')
    titles.update({doc_id: title})
    text = text.translate(str.maketrans('','',string.punctuation))
    tokenized = tokenize(text, stop_words)
    title = title.translate(str.maketrans('','',string.punctuation))
    tokenized_title = tokenize(title, stop_words)
    for token in tokenized:
        if len(token) == 1:
            if token.isalpha():
                tokenized.remove(token)
    tokenized_docs.update({doc_id: tokenized})
    for title in tokenized_title:
        if len(title) == 1:
            if title.isalpha():
                tokenized_title.remove(title)
    tokenized_titles.update({doc_id: tokenized_title})

In [198]:

print(tokenized_titles.get(3))
print(titles.get(3))

['agreement', 'relating', 'principally', 'chemicals', 'supplementary', 'geneva', '1967', 'protocol', 'general', 'agreement', 'tariffs', 'trade', 'negotiated', 'geneva', '30', 'june', '1967']
/* Agreement relating principally to chemicals, supplementary to the Geneva (1967) Protocol to the General Agreement on Tariffs and Trade, negotiated in Geneva on 30 June 1967 */

In [199]:
print(tokenized_docs.get(39703))
print(texts.get(39703))

[]

In [248]:
print(len(tokenized_docs))
#print(take(1, tokenized_docs.items()))
empt=[]
for k,v in tokenized_docs.items():
    l =len(v)
    if l==0:
        empt.append(k)
print(len(empt))
#print((empt))

for k in empt:
    del tokenized_docs[k]
    del tokenized_titles[k]
    del texts[k]
    del titles[k]

81992
5731

In [423]:
print(len(tokenized_docs))
print(len(tokenized_titles))
print(len(texts))
print(len(titles))

76261
76261
76261
76261

In [426]:
tokenized_docs1 = {}
tokenized_titles1 = {}
texts1= {}
titles1={}
for k in range(1,1000):
    vtd = tokenized_docs.get(k)
    vtt = tokenized_titles.get(k)
    vx = texts.get(k)
    vt =titles.get(k)
    tokenized_docs1.update({k:vtd})
    tokenized_titles1.update({k:vtt})
    texts1.update({k:vx})
    titles1.update({k:vt})

In [427]:
print(len(tokenized_docs1))
print(len(tokenized_titles1))
print(len(texts1))
print(len(titles1))
tokenized_docs1 = {k:v for k,v in tokenized_docs1.items() if v is not None}

999
999
999
999


#### search full words (not lemmatized), search as substrings

In [332]:
#### 1. probability scoring

In [333]:
# probability scoring
### all query words have to be in the document (multiplying)

def probab_score(tokens,tokenized_docs,texts):
    doc_probab = {}
    for k, v in tokenized_docs.items():
        n = len(v)
        probability = 1
        text = texts.get(k)
        for token in tokens:
            token_frequency = text.count(token)
            probability = probability*(token_frequency/n)
        doc_probab.update({k: probability})
    return doc_probab

In [334]:
# only original query
score =probab_score(test,tokenized_docs,texts)
#how many docs have positive score?
positives = dict([(k,v) for k,v in score.items() if v > 0])
sorted_positives = sorted(positives.items(), key=lambda x: x[1],reverse=True)
sorted_positives_top = sorted_positives[0:10]
print(sorted_positives_top)

# original query + extension
score =probab_score(test+ext,tokenized_docs,texts)
#how many docs have positive score?
print(([(k,v) for k,v in score.items() if v > 0]))


# only original query
score =probab_score(test1,tokenized_docs,texts)
#how many docs have positive score?
positives = dict([(k,v) for k,v in score.items() if v > 0])
sorted_positives = sorted(positives.items(), key=lambda x: x[1],reverse=True)
sorted_positives_top = sorted_positives[0:10]
print(sorted_positives_top)

# original query + extension
score =probab_score(test1+ext1,tokenized_docs,texts)
#how many docs have positive score?
print(([(k,v) for k,v in score.items() if v > 0]))


# no point having an extention, empty results are ok

[(120739, 2.2778939503692463e-06), (90952, 1.4623827626019007e-06), (98346, 9.60986510312026e-07), (100875, 9.116079910329329e-07), (96934, 7.795624765214125e-07), (98891, 4.7381201508301593e-07), (99214, 4.374815382790846e-07), (53800, 2.5508770567849454e-07), (101429, 2.4695734439852766e-07), (101872, 2.433802400069899e-07)]
[]
[(72, 4.866706628529354e-11), (4098, 3.9980157168428714e-11), (31030, 1.0620609744608273e-11), (85, 6.56566844179315e-12), (47616, 4.413577090077561e-12), (59689, 3.662677012225006e-12), (2146, 2.529433698703274e-12), (25303, 2.2094496103487563e-12), (57414, 2.1926876323265894e-12), (31131, 1.3631354904463345e-12)]
[]

In [335]:
# no point having an extention, empty results are ok

In [336]:
# print(titles.get(80))
# print(texts.get(80))

In [337]:
## query words summation
def probab_score_sum(tokens,tokenized_docs,texts):
    '''assigns score to document based on summation of probabilities'''
    doc_probab = {}
    for k, v in tokenized_docs.items():
        n = len(v)
        probability = 0
        text = texts.get(k)
        for token in tokens:
            token_frequency = text.count(token)
            probability = probability+(token_frequency/n)
        doc_probab.update({k: probability})
    return doc_probab

In [338]:
#zavedaj se:
"gabla is bla2".count("bla")
# kar pomeni da bi bilo bolje uporabiti lemmatized words! popravi!! neke stvari zdaj 2x stejes

2

In [587]:
def top_positives(dictionary,n):
    """Takes dict and returns first n tuples of k,v sorted by v"""
    positives = {} 
    for k,v in dictionary.items():
        if v > 0:
            positives.update({k: v})
    sorted_positives = sorted(positives.items(), key=lambda x: x[1],reverse=True)
    sorted_positives_top = sorted_positives[0:n]
    return sorted_positives_top

In [340]:
# only original query
score_sum =probab_score_sum(test,tokenized_docs,texts)

#how many docs have positive score?
sorted_positives_top = top_positives(score_sum,10)
print(sorted_positives_top)

[(32476, 0.11656671664167916), (33546, 0.11182108626198083), (37122, 0.10662729658792651), (34869, 0.10542476970317298), (30565, 0.103206106870229), (36068, 0.10318609703113686), (3867, 0.10294117647058823), (95196, 0.0990990990990991), (94467, 0.0984251968503937), (38921, 0.0975609756097561)]

In [341]:
# create dataframe
df_sum_original = pd.DataFrame(sorted_positives_top, columns =['id_sum_original', 'score'])
df_sum_original

   id_sum_original     score
0            32476  0.116567
1            33546  0.111821
2            37122  0.106627
3            34869  0.105425
4            30565  0.103206
5            36068  0.103186
6             3867  0.102941
7            95196  0.099099
8            94467  0.098425
9            38921  0.097561

In [342]:
# print(titles.get(565))
# print(texts.get(565))

In [343]:
## original query plus ext
score_sum =probab_score_sum(test+ext,tokenized_docs,texts)
#original + ext gives same score, add global and state gives different score, same order
#how many docs have positive score?
sorted_positives_top = top_positives(score_sum,10)
print(sorted_positives_top)

[(32476, 0.11656671664167916), (33546, 0.11182108626198083), (37122, 0.10662729658792651), (34869, 0.10542476970317298), (30565, 0.103206106870229), (36068, 0.10318609703113686), (3867, 0.10294117647058823), (95196, 0.0990990990990991), (94467, 0.0984251968503937), (38921, 0.0975609756097561)]

In [344]:
# create dataframe
df_sum_original_ext = pd.DataFrame(sorted_positives_top, columns =['id_sum_original_ext', 'score'])

In [345]:
# only original query
score =probab_score(test1,tokenized_docs,texts)
#how many docs have positive score?
sorted_positives_top = top_positives(score,10)
print(sorted_positives_top)



## original query
score_sum =probab_score_sum(test1,tokenized_docs,texts)
#original + ext gives same score, add global and state gives different score, same order
#how many docs have positive score?
sorted_positives_top = top_positives(score_sum,10)
print(sorted_positives_top)
#dataframe
df_sum_original1 = pd.DataFrame(sorted_positives_top, columns =['id_sum_original1', 'score'])
df_sum_original1

[(32476, 0.11656671664167916), (33546, 0.11182108626198083), (37122, 0.10662729658792651), (34869, 0.10542476970317298), (30565, 0.103206106870229), (36068, 0.10318609703113686), (3867, 0.10294117647058823), (95196, 0.0990990990990991), (94467, 0.0984251968503937), (38921, 0.0975609756097561)]
[(94870, 0.1276595744680851), (11790, 0.09090909090909091), (100258, 0.08527131782945736), (97436, 0.08280254777070063), (28599, 0.08163833937029813), (92702, 0.07514450867052024), (97265, 0.07430340557275542), (50112, 0.07235621521335807), (62459, 0.07103825136612021), (49539, 0.07056113902847572)]

   id_sum_original1     score
0             94870  0.127660
1             11790  0.090909
2            100258  0.085271
3             97436  0.082803
4             28599  0.081638
5             92702  0.075145
6             97265  0.074303
7             50112  0.072356
8             62459  0.071038
9             49539  0.070561

In [346]:
## original query plus ext
score_sum =probab_score_sum(test1+ext1,tokenized_docs,texts)
#original + ext gives same score, add global and state gives different score, same order
#how many docs have positive score?
positives = dict([(k,v) for k,v in score_sum.items() if v > 0])
sorted_positives = sorted(positives.items(), key=lambda x: x[1],reverse=True)
sorted_positives_top = sorted_positives[0:10]
#dataframe
df_sum_original_ext1 = pd.DataFrame(sorted_positives_top, columns =['id_sum_original_ext1', 'score'])
df_sum_original_ext1

   id_sum_original_ext1     score
0                 94870  0.127660
1                 92702  0.121387
2                 93604  0.116959
3                 97781  0.114583
4                 93549  0.104348
5                 14571  0.102041
6                 97436  0.101911
7                100258  0.100775
8                 44382  0.100151
9                 98394  0.099099

In [347]:
# adding candidates
## without weights
# no point using multiplication

# summation:
## original query
score_sum =probab_score_sum(test+topw_list,tokenized_docs,texts)
#original + ext gives same score, add global and state gives different score, same order
#how many docs have positive score?
sorted_positives_top = top_positives(score_sum,10)
print(sorted_positives_top)
#dataframe
df_sum_original_cand = pd.DataFrame(sorted_positives_top, columns =['id_sum_original_cand', 'score'])


## original query plus ext
score_sum =probab_score_sum(test+ext+top_list,tokenized_docs,texts)
#original + ext gives same score, add global and state gives different score, same order
#how many docs have positive score?
sorted_positives_top = top_positives(score_sum,10)
print(sorted_positives_top)
#dataframe
df_sum_original_ext_cand = pd.DataFrame(sorted_positives_top, columns =['id_sum_original_ext_cand', 'score'])


## original query
score_sum =probab_score_sum(test1+topw_list1,tokenized_docs,texts)
#original + ext gives same score, add global and state gives different score, same order
#how many docs have positive score?
sorted_positives_top = top_positives(score_sum,10)
print(sorted_positives_top)
#dataframe
df_sum_original_cand1 = pd.DataFrame(sorted_positives_top, columns =['id_sum_original_cand1', 'score'])


## original query plus ext
score_sum =probab_score_sum(test1+ext1+top_list1,tokenized_docs,texts)
#original + ext gives same score, add global and state gives different score, same order
#how many docs have positive score?
sorted_positives_top = top_positives(score_sum,10)
print(sorted_positives_top)
#dataframe
df_sum_original_ext_cand1 = pd.DataFrame(sorted_positives_top, columns =['id_sum_original_ext_cand1', 'score'])

[(12744, 0.15163934426229508), (92986, 0.1473429951690821), (92988, 0.14669421487603304), (9649, 0.13286713286713286), (93921, 0.11695906432748537), (32476, 0.11656671664167916), (62937, 0.11578947368421053), (94936, 0.11494252873563218), (97319, 0.11363636363636363), (95196, 0.11261261261261261)]
[(94936, 0.12643678160919541), (3453, 0.11875000000000001), (32476, 0.11656671664167916), (97319, 0.11363636363636363), (33546, 0.11182108626198083), (95196, 0.10810810810810811), (37122, 0.10662729658792651), (34869, 0.10542476970317298), (30565, 0.103206106870229), (36068, 0.10318609703113686)]
[(94870, 0.1276595744680851), (11790, 0.09090909090909091), (100258, 0.08527131782945736), (97436, 0.08280254777070063), (28599, 0.08163833937029813), (92702, 0.07514450867052024), (97265, 0.07430340557275542), (50112, 0.07235621521335807), (62459, 0.07103825136612021), (49539, 0.07056113902847572)]
[(94870, 0.1276595744680851), (92702, 0.12138728323699421), (93604, 0.11695906432748537), (97781, 0.11458333333333334), (93549, 0.10434782608695653), (14571, 0.10204081632653061), (97436, 0.1019108280254777), (100258, 0.10077519379844961), (44382, 0.10015060240963855), (98394, 0.0990990990990991)]

In [511]:
def word_value(word, alpha, original_tokens, top_expansion, wv):
    """values word based on whether is in original token set or expanded, if alpha -1 value equals to cosine similarity"""
    only_expanded = []
    for token in top_expansion:
        if token not in original_tokens:
            only_expanded.append(token)
            
    sum_similarity = 0
    for exp_token in only_expanded:
            sum_similarity += similarity(exp_token,original_tokens, wv)
            
    if alpha == -1:
        if word in original_tokens:
            value = 1
        else:
            value = similarity(word, original_tokens, wv)/sum_similarity


    else:
        if word in original_tokens:
            value = alpha
        else:
            value = (1-alpha)*similarity(word, original_tokens, wv)/sum_similarity
    return value

In [349]:
# ce ni ext zraven je so cudni rezultati, zamenja vrstni red pomembnsti med sewage in undergrounding??
top = top[0:4]
top_words = [i[0] for i in top]
print(word_value("water", 0.7, test+ext ,top_words, wv_wiki_en))
print(word_value("sewage", 0.7, test+ext ,top_words, wv_wiki_en))
print(word_value("undergrounding", 0.7, test+ext ,top_words, wv_wiki_en))
print(word_value("biopollution", 0.7, test+ext ,top_words, wv_wiki_en))

0.7
0.28172557133553994
0.7
0.2714117961536774

In [518]:
def probab_score_sum_weights(original_tokens, top_expansion,tokenized_docs,texts, wv, alpha): 
    '''As probab_score_sum only weighted; usually extention added to original tokens, candidates = top_expansion - have weights'''
    doc_probab = {}
    for k, v in tokenized_docs.items():
        n = len(v)
        probability = 0
        text = texts.get(k)
        for token in original_tokens+top_expansion:
            token_frequency = text.count(token)
            probability = probability+(token_frequency/n)*word_value(token, alpha, original_tokens, top_expansion, wv)
        doc_probab.update({k: probability})
    return doc_probab

In [529]:
#check word values
wvals = []
for token in test+ext+top_list:
    wvals.append(word_value(token, 0.35, test+ext, top_list, wv_wiki_en))
wvals

[0.35,
 0.35,
 0.35,
 0.35,
 0.35,
 0.35,
 0.35,
 0.35,
 0.330910250229159,
 0.319089749770841]

In [533]:
#check word frequences
n = len(tokenized_docs1)
print(n)
t_freqs = []
for k, v in tokenized_docs1.items():
    n = len(v)
    text = texts1.get(k)
    for token in test+ext+top_list:
        token_frequency = text.count(token)
        t_freqs.append(token_frequency)

In [545]:
## with weights
# summation 
original_query_cand = []
for alpha in [-1,0.35,0.4,0.45,0.5,0.6,0.7,0.8,0.9,1]:
    ## original query
    score_sum = probab_score_sum_weights(test, topw_list,tokenized_docs, texts, wv_wiki_en, alpha)
    #original + ext gives same score, add global and state gives different score, same order
    #how many docs have positive score?
    sorted_positives_top = top_positives(score_sum,10)
    #dataframe
    df_wsum_original_cand = pd.DataFrame(sorted_positives_top, columns =['id_wsum_original_cand'+str(alpha), 'score'+str(alpha)])
    original_query_cand.append(df_wsum_original_cand)

In [531]:
## original query plus ext
original_query_ext_cand = []
for alpha in [-1,0.35,0.4,0.45,0.5,0.6,0.7,0.8,0.9,1]:
    score_sum =probab_score_sum_weights(test+ext, top_list,tokenized_docs,texts,  wv_wiki_en, alpha)
    #original + ext gives same score, add global and state gives different score, same order
    #how many docs have positive score?
    sorted_positives_top = top_positives(score_sum,10)
    #dataframe
    df_wsum_original_ext_cand = pd.DataFrame(sorted_positives_top, columns =['id_wsum_original_ext_cand'+str(alpha), 'score'+str(alpha)])
    original_query_ext_cand.append(df_wsum_original_ext_cand)

In [363]:
# comparing sorting for each alpha
doubleframes =[]
for i in range(len(original_query_cand)):
    frst = original_query_cand[i].take([0], axis=1)
    snd = original_query_ext_cand[i].take([0], axis=1)
    con = pd.concat([frst,snd], axis=1)
    doubleframes.append(con)

In [376]:
doubleframes[2]

   id_wsum_original_cand0.7  id_wsum_original_ext_cand0.7
0                     32476                         94936
1                     94936                         32476
2                     97319                         97319
3                     33546                         33546
4                     95196                          3453
5                     37122                         95196
6                      3453                         37122
7                     34869                         34869
8                     30565                         30565
9                     36068                         36068

In [525]:
# comparing sorting for different alphas, original + cand
frames =[]
for i in range(len(original_query_cand)):
    dataf = original_query_cand[i].take([0], axis=1)
    frames.append(dataf)
con = pd.concat(frames, axis=1)
con

,id_wsum_original_cand0.5,id_wsum_original_cand0.6,id_wsum_original_cand0.7,id_wsum_original_cand0.8,id_wsum_original_cand0.9,id_wsum_original_cand1
0,32476,32476,32476,32476,32476,32476
1,94936,94936,94936,94936,94936,94936
2,97319,97319,97319,97319,97319,97319
3,33546,33546,33546,33546,33546,33546
4,92988,95196,95196,95196,95196,95196
5,95196,37122,37122,37122,37122,37122
6,12744,3453,3453,3453,3453,3453
7,37122,92988,34869,34869,34869,34869
8,3453,34869,30565,30565,30565,30565
9,92986,12744,36068,36068,36068,36068

- first 4 rows same values
- 5.,6.,7. row only values for alpha 0.5 different
- lower than 7. row: values for 0.5 and 0.6 different
- half of values lower than 4.place on alpha 0.5 also appear in other columns

In [532]:
# comparing sorting for different alphas, original +ext + cand
frames =[]
for i in range(len(original_query_ext_cand)):
    dataf = original_query_ext_cand[i].take([0], axis=1)
    frames.append(dataf)
conex = pd.concat(frames, axis=1)
conex

,id_wsum_original_ext_cand-1,id_wsum_original_ext_cand0.35,id_wsum_original_ext_cand0.4,id_wsum_original_ext_cand0.45,id_wsum_original_ext_cand0.5,id_wsum_original_ext_cand0.6,id_wsum_original_ext_cand0.7,id_wsum_original_ext_cand0.8,id_wsum_original_ext_cand0.9,id_wsum_original_ext_cand1
0,94936,94936,94936,94936,94936,94936,94936,32476,32476,32476
1,32476,3453,32476,32476,32476,32476,32476,94936,94936,94936
2,97319,32476,3453,3453,97319,97319,97319,97319,97319,97319
3,3453,97319,97319,97319,3453,33546,33546,33546,33546,33546
4,33546,33546,33546,33546,33546,3453,3453,95196,95196,95196
5,95196,95196,95196,95196,95196,95196,95196,3453,3453,37122
6,37122,37122,37122,37122,37122,37122,37122,37122,37122,3453
7,34869,34869,34869,34869,34869,34869,34869,34869,34869,34869
8,30565,30565,30565,30565,30565,30565,30565,30565,30565,30565
9,36068,36068,36068,36068,36068,36068,36068,36068,36068,36068

In [536]:
print(test)
print(ext)
print(top_list)
# 94936 light pollution -, 32476 fishing quotas o, 97319 light pollution - , 3453 marine pollution o
# without weighted sum (below): 
# 32476 already appeared, 33546 fishing quotas o,37122 fishing quotas o,12744 groundwater protection +,92988 groundwater protection +
# id_sum_original_cand best choice

['water', 'pollution', 'underground']
['pollutions', 'undergrounding']
['pollution', 'pollutions', 'undergrounding', 'earpollution', 'pollution,']

In [543]:
texts.get(92988)

'Avis juridique important|91997E1894WRITTEN QUESTION No. 1894/97 by Amedeo AMADEO to the Commission. Integrated groundwater protection and managementOfficial Journal C 021 , 22/01/1998 P. 0113 WRITTEN QUESTION E-1894/97 by Amedeo Amadeo (NI) to the Commission (4 June 1997)Subject: Integrated groundwater protection and managementThe Commission Proposal for a European Parliament and Council Decision on an action programme for integrated groundwater protection and management (COM(96) 0315 final - 96/0181 COD) ((OJ C 355, 25.11.1996, p. 1. ))sets out an action programme comprising four main lines of action: planning and management of groundwater protection, creating a regulatory framework for fresh water abstraction, development of instruments for control of groundwater pollution from diffuse sources and development of instruments for control of point source emissions and discharges.Where groundwater pollution from diffuse sources is concerned, will the Commission pay particular attention to cleaning up soil contaminated by long-standing or accidental pollution, bearing in mind that a Community frame of reference is needed concerning responsibilities and the financing of the measures?Will the Commission turn its attention to the fact that many Member States have failed to announce measures to transpose Directive 91/676/EEC ((OJ L 375, 31.12.1991, p. 1. )) on nitrates? Will it also impose official controls on the substances contained in recycled sewage sludge and consider the advisability of imposing more stringent limit values on atmospheric emissions of substances which contribute to acidification?Answer given by Mrs Bjerregaard on behalf of the Commission (8 July 1997)The objective of the proposal for a Parliament and Council decision on an action programme for integrated groundwater protection and management is to ensure that protection and use of groundwater takes place as part of an integrated management of fresh water resources and that groundwaters on a long term basis will be managed with surface waters within a river basin management approach.In February 1997 the Commission adopted a proposal for a Council directive establishing a framework for Community action in the field of water policy ((COM(97) 49 final. )) which lays down the basic principles for integrated protection and use of groundwaters and surface waters within such a river basin management approach. Whilst part of the actions presented in the proposed groundwater action programme may be pursued through a variety of instruments, some may be strengthened through appropriate legal provisions. The proposed water framework directive is intended as a framework within which inter alia the protection and sustainable use of groundwater may be ensured through such legal provisions.Civil liability for damage caused to soil and groundwater by pollution is not addressed in the proposed groundwater action programme. Appropriate Community action on this particular question is considered in a white paper being prepared by the Commission for presentation by early 1998. However, the proposed groundwater action programme requests Member States to take appropriate action towards contaminated groundwaters to ensure containment of such contaminated groundwaters in order to prevent further contamination, and where appropriate to restore such groundwaters.Contamination of groundwaters may arise from a variety of point and diffuse sources. The proposed groundwater action programme requests the identification of such potential sources. Control of point source pollution has improved considerably through the adoption of Community environment legislation, while diffuse source pollution still calls for better control. The Honourable Member identifies the diffuse sources of nitrates from agricultural use, dangerous substances contained in recycled sewage sludge and acid precipitation. Nitrates pollution from agriculture is regulated through Council Directive 91/676/EEC of 12 December 1991 concerning the protection of waters against pollution caused by nitrates from agricultural sources ((OJ L 375, 31.12.1991. )). Unfortunately, not all Member States have implemented this Directive fully and the Commission is pursuing this lack of implementation through appropriate action including action under Article 169 of the EC Treaty. Control of dangerous substances in sewage sludge is regulated through Council Directive 86/278/EEC of 12 June 1986 on the protection of the environment, and in particular of the soil, when sewage sludge is used in agriculture ((OJ L 181, 4.7.1986. )). Acidification due to atmospheric deposition is addressed through a number of Council directives primarily addressing sources of air pollution, inter alia nitrogen oxides and sulphur oxides emitted from combustion plants, car emissions and incineration of hazardous waste. The basic principles of a common strategy towards air pollution are defined in Council Directive 96/62/EC of 27 September 1996 on ambient air quality assessment and management ((OJ L 296, 21.11.1996. )). As a follow up to this, the Commission adopted a communication to the Council and the Parliament in March 1997 presenting a strategy towards acidification ((COM(97) 88 final. )). Top'

In [546]:
#test1:
## original query
original_query_cand1 = []
for alpha in [-1,0.35,0.4,0.45,0.5,0.6,0.7,0.8,0.9,1]:
    score_sum = probab_score_sum_weights(test1, topw_list1,tokenized_docs,texts,  wv_wiki_en, alpha)
    #original + ext gives same score, add global and state gives different score, same order
    #how many docs have positive score?
    sorted_positives_top = top_positives(score_sum,10)
    #dataframe
    df_wsum_original_cand1 = pd.DataFrame(sorted_positives_top, columns =['id_wsum_original_cand1'+str(alpha), 'score'+str(alpha)])
    original_query_cand1.append(df_wsum_original_cand1)


## original query plus ext
original_query_ext_cand1 = []
for alpha in [-1,0.35,0.4,0.45,0.5,0.6,0.7,0.8,0.9,1]:
    score_sum =probab_score_sum_weights(test1+ext1, top_list1,tokenized_docs,texts,  wv_wiki_en, alpha)
    #original + ext gives same score, add global and state gives different score, same order
    #how many docs have positive score?
    sorted_positives_top = top_positives(score_sum,10)
    #dataframe
    df_wsum_original_ext_cand1 = pd.DataFrame(sorted_positives_top, columns =['id_wsum_original_ext_cand1'+str(alpha), 'score'+str(alpha)])
    original_query_ext_cand1.append(df_wsum_original_ext_cand1)

KeyboardInterrupt:

In [369]:
# comparing sorting for each alpha
doubleframes1 =[]
for i in range(len(original_query_cand1)):
    frst = original_query_cand1[i].take([0], axis=1)
    snd = original_query_ext_cand1[i].take([0], axis=1)
    con = pd.concat([frst,snd], axis=1)
    doubleframes1.append(con)

In [370]:
doubleframes1[0]

   id_wsum_original_cand10.5  id_wsum_original_ext_cand10.5
0                      94870                          94870
1                      11790                          92702
2                     100258                          93604
3                      97436                          97781
4                      28599                          93549
5                      92702                          14571
6                      97265                          97436
7                      50112                         100258
8                      62459                          44382
9                      49539                          98394

In [371]:
# comparing sorting for different alphas, original + cand
frames =[]
for i in range(len(original_query_cand1)):
    dataf = original_query_cand1[i].take([0], axis=1)
    frames.append(dataf)
con1 = pd.concat(frames, axis=1)
con1

,id_wsum_original_cand10.5,id_wsum_original_cand10.6,id_wsum_original_cand10.7,id_wsum_original_cand10.8,id_wsum_original_cand10.9,id_wsum_original_cand11
0,94870,94870,94870,94870,94870,94870
1,11790,11790,11790,11790,11790,11790
2,100258,100258,100258,100258,100258,100258
3,97436,97436,97436,97436,97436,97436
4,28599,28599,28599,28599,28599,28599
5,92702,92702,92702,92702,92702,92702
6,97265,97265,97265,97265,97265,97265
7,50112,50112,50112,50112,50112,50112
8,62459,62459,62459,62459,62459,62459
9,49539,49539,49539,49539,49539,49539

In [544]:
print(test1)
print(ext1)
print(top_list1)
#94870 fishing agreement EU +, 11790 fishing agreement EU +, 100258 fishing agreement +
#94870 11790, 100258 already, 92702 fishing agreement +, 93604 environmental agreement o ;better without extention

['annex', 'fishing', 'agreement', 'europe']
['agreements', 'flwfishing']
['earpollution', 'pollution', 'pollutants', 'biopollution', 'potable']

In [551]:
texts.get(93604)

'Avis juridique important|91997E3072WRITTEN QUESTION No. 3072/97 by Amedeo AMADEO to the Commission. Environmental agreementsOfficial Journal C 117 , 16/04/1998 P. 0146 WRITTEN QUESTION E-3072/97 by Amedeo Amadeo (NI) to the Commission (2 October 1997)Subject: Environmental agreementsThe main objective of the Commissions communication on environmental agreements (COM(96) 561 final) is to promote and facilitate the use of effective and acceptable environmental agreements. These agreements are instruments for the integration or implementation of environment law in the Community. The communication should be seen in the light of the strategy outlined in the fifth action programme to extend the range of environment policy instruments and put into practice the concept of shared responsibility.The communication also seeks to clarify certain aspects of how environmental agreements can be used to implement certain provisions of Community directives in the Member States and how environmental agreements can be used at Community level.Does the Commission recommendation on environmental agreements refer only to their transposal into national law or does it also cover the application of the provisions once transposed?Answer given by Mrs Bjerregaard on behalf of the Commission (31 October 1997)The Commission Recommendation concerning environmental agreements implementing Community directives ((OJ L 333, 21.12.1996. )) not only concerns the transposition of certain provisions of directives into national law but also the implementation of the transposed law. The word implementation includes both the transposition into national law and the application of the transposed provisions. Clearly, where national legislation is in place to ensure compliance with a directive, the form of implementing these rules is less important. Nevertheless, the Commission considers the legal status of agreements as an important element of their success and therefore recommends that they be concluded in a legally-binding form. Top'

In [365]:
# comparison of summation method versions on test set
frms = [df_sum_original["id_sum_original"], df_sum_original_cand["id_sum_original_cand"], df_sum_original_ext['id_sum_original_ext'],df_sum_original_ext_cand['id_sum_original_ext_cand'],doubleframes[2]]
sum_result = pd.concat(frms, axis=1)
sum_result
# error ker wsum samo se z alphami e.g. wsum0.6

,id_sum_original,id_sum_original_cand,id_sum_original_ext,id_sum_original_ext_cand,id_wsum_original_cand0.7,id_wsum_original_ext_cand0.7
0,32476,12744,32476,94936,32476,94936
1,33546,92986,33546,3453,94936,32476
2,37122,92988,37122,32476,97319,97319
3,34869,9649,34869,97319,33546,33546
4,30565,93921,30565,33546,95196,3453
5,36068,32476,36068,95196,37122,95196
6,3867,62937,3867,37122,3453,37122
7,95196,94936,95196,34869,34869,34869
8,94467,97319,94467,30565,30565,30565
9,38921,95196,38921,36068,36068,36068

In [374]:
values = sum_result.values.tolist()
flat_vals = []
for sublist in values:
    for item in sublist:
        flat_vals.append(item)
counter=collections.Counter(flat_vals)
print((counter))
print(len(counter))

Counter({32476: 6, 95196: 6, 33546: 5, 37122: 5, 34869: 5, 30565: 5, 36068: 5, 94936: 4, 97319: 4, 3453: 3, 3867: 2, 94467: 2, 38921: 2, 12744: 1, 92986: 1, 92988: 1, 9649: 1, 93921: 1, 62937: 1})
19

- same results for sum original and sum original_ext
- slight diff. between original cand and original ext cand in wsum  
 --> ext impacts on cand  
- for top 5 only difference between using cand or not
- 5. and 6. place id different wether ext is used or not
- 9. place differs in column sum original cand
- 8 values occures in all cases, so max 2 differ for each list

In [377]:
# comparison of summation method versions on test1 set
frames = [df_sum_original1["id_sum_original1"], df_sum_original_cand1["id_sum_original_cand1"], df_sum_original_ext1['id_sum_original_ext1'],df_sum_original_ext_cand1['id_sum_original_ext_cand1'],doubleframes1[2]]
sum_result1 = pd.concat(frames, axis=1)
sum_result1

,id_sum_original1,id_sum_original_cand1,id_sum_original_ext1,id_sum_original_ext_cand1,id_wsum_original_cand10.7,id_wsum_original_ext_cand10.7
0,94870,94870,94870,94870,94870,94870
1,11790,11790,92702,92702,11790,92702
2,100258,100258,93604,93604,100258,93604
3,97436,97436,97781,97781,97436,97781
4,28599,28599,93549,93549,28599,93549
5,92702,92702,14571,14571,92702,14571
6,97265,97265,97436,97436,97265,97436
7,50112,50112,100258,100258,50112,100258
8,62459,62459,44382,44382,62459,44382
9,49539,49539,98394,98394,49539,98394

In [373]:
values = sum_result1.values.tolist()
flat_vals = []
for sublist in values:
    for item in sublist:
        flat_vals.append(item)
counter1=collections.Counter(flat_vals)
print((counter1))
print(len(counter1))

Counter({94870: 6, 92702: 6, 100258: 6, 97436: 6, 11790: 3, 93604: 3, 97781: 3, 28599: 3, 93549: 3, 14571: 3, 97265: 3, 50112: 3, 62459: 3, 44382: 3, 49539: 3, 98394: 3})
16

- same results for all without ext and all with ext
- rows do not match
- 9 values appear in all columns

In [ ]:
# for first 5 returned docs no difference between weighted and unweighted for alpha = 0.6,  alpha = 0.8, 1 #if all weight the same is same as
# if expansion would not exist
# only tokens / tokens + ext
# [(99, 0.048582995951417005), (380, 0.046610169491525424), (244, 0.04477611940298507), (89, 0.04371584699453552), (376, 0.04034065441506051)]
# [(244, 0.08955223880597014), (243, 0.08), (903, 0.04964539007092198), (99, 0.048582995951417005), (380, 0.046610169491525424)]
# unweighted with candidate exp:
# [(565, 0.048730964467005075), (1219, 0.0461864406779661), (12, 0.04042348411934552), (226, 0.039756782039289056), (22, 0.03749147920927062)]
# [(565, 0.05177664974619289), (1219, 0.04745762711864407), (12, 0.04138594802694899), (226, 0.04069223573433115), (22, 0.03953646898432175)]
# [(99, 0.048582995951417005), (380, 0.046610169491525424), (244, 0.04477611940298507), (89, 0.04371584699453552), (376, 0.04034065441506051)]
# [(244, 0.08955223880597014), (243, 0.08), (903, 0.04964539007092198), (99, 0.048582995951417005), (380, 0.046610169491525424)]

In [ ]:
# for 10
# alpha 0.8, 1
# [(161, 0.027947874459039665), (313, 0.027129979796553974), (73, 0.025445292620865142), (402, 0.022429906542056073)]
# [(161, 0.027915369391449767), (313, 0.02712754175646111), (73, 0.025570205421714953), (402, 0.022429906542056073)]
# [(243, 0.032), (925, 0.031578947368421054), (1212, 0.03118536197295147), (910, 0.031168831168831172), (108, 0.03114754098360656)]
# [(1212, 0.036276849642004776), (89, 0.034972677595628415), (376, 0.032989690721649485), (925, 0.031578947368421054), (910, 0.031168831168831172)]
# for alpha 0.6 one change in one case
# only tokens/tokens+ext
# [(243, 0.04), (925, 0.039473684210526314), (1212, 0.03898170246618934), (910, 0.03896103896103896), (108, 0.0389344262295082)]
# [(1212, 0.045346062052505964), (89, 0.04371584699453552), (376, 0.041237113402061855), (925, 0.039473684210526314), (910, 0.03896103896103896)]

In [ ]:
# #### 2.TFIDF evaluation
# texts_keys = []
# texts_values = []
# for key in sorted(texts.keys()) :
#     texts_keys.append(key)
#     texts_values.append(texts[key])

In [ ]:
# vectorizer = TfidfVectorizer(stop_words = "english")
# vectors_t = vectorizer.fit_transform(texts_values)

In [ ]:
# # get the first vector out (for the first document)
# vector_t = vectors_t[0]

In [ ]:
# # place tf-idf values in a pandas data frame
# vector_dframe_t = pd.DataFrame(vector_t.T.todense(), index=vectorizer.get_feature_names(), columns=["tfidf"])
# vector_dframe_t = vector_dframe_t.sort_values(by=["tfidf"],ascending=False)

In [ ]:
# vector_dframe_t.head(50) #treaty ne sesteje lepo, lahko bi text olepsal preden gre v vectorizer, a pojavitev pomeni istost?

In [ ]:
# # try to solve with transformation into string of tokenized text:
# strings_keys = []
# strings = []
# for key in sorted(tokenized_docs.keys()) :
#     strings_keys.append(key)
#     list_tokens = tokenized_docs[key]
#     corrected = " ".join(list_tokens)
#     strings.append(corrected)

In [ ]:
# vectors = vectorizer.fit_transform(strings)

In [ ]:
# # get the first vector out (for the first document)
# vector = vectors[0]

In [ ]:
# # place tf-idf values in a pandas data frame
# vector_dframe = pd.DataFrame(vector.T.todense(), index=vectorizer.get_feature_names(), columns=["tfidf"])
# vector_dframe = vector_dframe.sort_values(by=["tfidf"],ascending=False)

In [ ]:
# vector_dframe.head(50) #not much difference

In [ ]:
# calculate tfidf only for query words:

In [435]:
def nb_docs_tokens_appear(tokensI,tokenized_docsI,textsI):
    docs_per_token = []
    for i in range(len(tokensI)):
        docs_per_token.append(0)
    for k, v in tokenized_docsI.items():
        content = tokenized_docsI.get(k)
        text = textsI.get(k)
        for i in range(len(tokensI)):
            token = tokensI[i]
            if token in text:
                docs_per_token[i] = docs_per_token[i]+1
    return docs_per_token

In [578]:
def tfidf_sum(tokensI,tokenized_docsI, textsI):
    '''First tuple argument similar to probab_score_sum function but different metric - tfidf, second returns words that did not occure in any document'''
    nb_docs_tokens_appeared = nb_docs_tokens_appear(tokensI,tokenized_docsI,textsI)
    filtered_nb_docs_tokens_appeared = [elt for elt in nb_docs_tokens_appeared if not elt == 0]
    not_appear = []
    appear = []
    for i in range(len(nb_docs_tokens_appeared)):
        if nb_docs_tokens_appeared[i] == 0:
            not_appear.append(tokensI[i])
        else:
            appear.append(tokensI[i])    
    l = len(tokenized_docsI)
    doc_probab = {}
    for k, v in tokenized_docsI.items():
        n = len(v)
        text = textsI.get(k)
        probability = 0
        for i in range(len(appear)):
            token_frequency = text.count(appear[i])
            idf = math.log(l/filtered_nb_docs_tokens_appeared[i])
            probability = probability+((token_frequency/n)*idf)
        doc_probab.update({k: probability})
    return doc_probab, not_appear

In [589]:
tf = tfidf_sum(test,tokenized_docs, texts)
df_tfidf_sum_original = pd.DataFrame(top_positives(tf[0],10), columns =['id_tfidf_sum_original', 'score'])
tf[1] #query words that did not appear in any doc
df_tfidf_sum_original

   id_tfidf_sum_original     score
0                  32476  0.197593
1                  33546  0.189548
2                  37122  0.180744
3                  34869  0.178706
4                  95196  0.178279
5                  30565  0.174945
6                  36068  0.174911
7                   3867  0.174496
8                  63388  0.167434
9                  94467  0.166841

In [590]:
tf = tfidf_sum(test+ext,tokenized_docs, texts)
df_tfidf_sum_original_ext = pd.DataFrame(top_positives(tf[0],10), columns =['id_tfidf_sum_original_ext', 'score'])
tf[1]
#df_tfidf_sum_original_ext

[]

In [591]:
tf = tfidf_sum(test+ext+top_list,tokenized_docs, texts)
df_tfidf_sum_original_ext_cand = pd.DataFrame(top_positives(tf[0],10), columns =['id_tfidf_sum_original_ext_cand', 'score'])
tf[1]
#df_tfidf_sum_original_ext_cand

['earpollution']

In [592]:
tf = tfidf_sum(test+topw_list,tokenized_docs, texts)
df_tfidf_sum_original_cand = pd.DataFrame(top_positives(tf[0],10), columns =['id_tfidf_sum_original_cand', 'score'])
tf[1]
#df_tfidf_sum_original_cand

['earpollution']

In [593]:
frames = [df_tfidf_sum_original['id_tfidf_sum_original'], df_tfidf_sum_original_ext['id_tfidf_sum_original_ext'], df_tfidf_sum_original_ext_cand['id_tfidf_sum_original_ext_cand'],df_tfidf_sum_original_cand['id_tfidf_sum_original_cand']]
tfidf_sum_result = pd.concat(frames, axis=1)
tfidf_sum_result

,id_tfidf_sum_original,id_tfidf_sum_original_ext,id_tfidf_sum_original_ext_cand,id_tfidf_sum_original_cand
0,32476,32476,94936,92988
1,33546,33546,3453,12744
2,37122,37122,97319,92986
3,34869,34869,93533,9649
4,95196,95196,97320,94936
5,30565,30565,4505,97319
6,36068,36068,94953,92987
7,3867,3867,59175,93921
8,63388,63388,93921,47944
9,94467,94467,92988,3453

In [ ]:
print(test)
print(ext)
print(top_list)
##############################################
#SUM
###############################################
# 94936 light pollution -, 32476 fishing quotas o, 97319 light pollution - , 3453 marine pollution o
# without weighted sum (below): 
# 32476 already appeared, 33546 fishing quotas o,37122 fishing quotas o,12744 groundwater protection +,92988 groundwater protection +
# id_sum_original_cand best choice
##############################################
# TFIDF
##########################################
# 94870, 92702, 93604

In [557]:
texts.get(94870)

'Avis juridique important|91998E2572WRITTEN QUESTION No. 2572/98 by John McCARTIN Fishing agreement with the Comores 1994-1997Official Journal C 320 , 06/11/1999 P. 0008 WRITTEN QUESTION E-2572/98by John McCartin (PPE) to the Commission(1 September 1998)Subject: Fishing agreement with the Comores 1994-1997Can the Commission state how many fishing vessels were involved in the 1994-1997 EU fishing agreement with the Comores, what was the tonnage of these vessels and how many days they fished under the agreement? Top'

In [492]:
tf = tfidf_sum(test1,tokenized_docs, texts)
print(tf[1])
df_tfidf_sum_original1 = pd.DataFrame(top_positives(tf[0],10), columns =['id_tfidf_sum_original1', 'score'])
tf = tfidf_sum(test1+ext1,tokenized_docs, texts)
print(tf[1])
df_tfidf_sum_original_ext1 = pd.DataFrame(top_positives(tf[0],10), columns =['id_tfidf_sum_original_ext1', 'score'])
tf = tfidf_sum(test1+ext1+top_list1,tokenized_docs, texts)
print(tf[1])
df_tfidf_sum_original_ext_cand1 = pd.DataFrame(top_positives(tf[0],10), columns =['id_tfidf_sum_original_ext_cand1', 'score'])
tf = tfidf_sum(test1+topw_list1,tokenized_docs, texts)
print(tf[1])
df_tfidf_sum_original_cand1 = pd.DataFrame(top_positives(tf,10), columns =['id_tfidf_sum_original_cand1', 'score'])

[]
['flwfishing']
['flwfishing', 'earpollution', 'biopollution']
['earpollution', 'biopollution']

In [493]:
frames = [df_tfidf_sum_original1['id_tfidf_sum_original1'], df_tfidf_sum_original_ext1['id_tfidf_sum_original_ext1'], df_tfidf_sum_original_ext_cand1['id_tfidf_sum_original_ext_cand1'],df_tfidf_sum_original_cand1['id_tfidf_sum_original_cand1']]
tfidf_sum_result1 = pd.concat(frames, axis=1)
tfidf_sum_result1

,id_tfidf_sum_original1,id_tfidf_sum_original_ext1,id_tfidf_sum_original_ext_cand1,id_tfidf_sum_original_cand1
0,94870,94870,94870,94870
1,92702,92702,92702,92702
2,93604,93604,93604,93604
3,97781,97781,97781,97781
4,93549,93549,93549,93549
5,14571,14571,14571,14571
6,97436,97436,97436,97436
7,100258,100258,100258,100258
8,44382,44382,44382,44382
9,98394,98394,98394,98394

In [556]:
print(test1)
print(ext1)
print(top_list1)
############
#SUM
############################################################
#94870 fishing agreement EU +, 11790 fishing agreement EU +, 100258 fishing agreement +
#94870 11790, 100258 already, 92702 fishing agreement +, 93604 environmental agreement o ;better without extention
############################################################
# TFIDF
#94870 already, 92702 fishing already, 93604 environmental agreement
#

['annex', 'fishing', 'agreement', 'europe']
['agreements', 'flwfishing']
['earpollution', 'pollution', 'pollutants', 'biopollution', 'potable']

In [554]:
texts.get(93604)

'Avis juridique important|91997E3072WRITTEN QUESTION No. 3072/97 by Amedeo AMADEO to the Commission. Environmental agreementsOfficial Journal C 117 , 16/04/1998 P. 0146 WRITTEN QUESTION E-3072/97 by Amedeo Amadeo (NI) to the Commission (2 October 1997)Subject: Environmental agreementsThe main objective of the Commissions communication on environmental agreements (COM(96) 561 final) is to promote and facilitate the use of effective and acceptable environmental agreements. These agreements are instruments for the integration or implementation of environment law in the Community. The communication should be seen in the light of the strategy outlined in the fifth action programme to extend the range of environment policy instruments and put into practice the concept of shared responsibility.The communication also seeks to clarify certain aspects of how environmental agreements can be used to implement certain provisions of Community directives in the Member States and how environmental agreements can be used at Community level.Does the Commission recommendation on environmental agreements refer only to their transposal into national law or does it also cover the application of the provisions once transposed?Answer given by Mrs Bjerregaard on behalf of the Commission (31 October 1997)The Commission Recommendation concerning environmental agreements implementing Community directives ((OJ L 333, 21.12.1996. )) not only concerns the transposition of certain provisions of directives into national law but also the implementation of the transposed law. The word implementation includes both the transposition into national law and the application of the transposed provisions. Clearly, where national legislation is in place to ensure compliance with a directive, the form of implementing these rules is less important. Nevertheless, the Commission considers the legal status of agreements as an important element of their success and therefore recommends that they be concluded in a legally-binding form. Top'

In [496]:
def tfidf_sum_weights(original_tokens, top_expansion,tokenized_docs,texts, wv, alpha): 
    tokens_together = original_tokens+top_expansion
    nb_docs_tokens_appeared = nb_docs_tokens_appear(tokens_together,tokenized_docs,texts)
    filtered_nb_docs_tokens_appeared = [elt for elt in nb_docs_tokens_appeared if not elt == 0]
    not_appear = []
    appear = []
    for i in range(len(nb_docs_tokens_appeared)):
        if nb_docs_tokens_appeared[i] == 0:
            not_appear.append(tokens_together[i])
        else:
            appear.append(tokens_together[i])  
    l = len(tokenized_docs)
    doc_probab = {}
    for k, v in tokenized_docs.items():
        n = len(v)
        text = texts.get(k)
        probability = 0
        for i in range(len(appear)):
            token_frequency = text.count(appear[i])
            idf = math.log(l/filtered_nb_docs_tokens_appeared[i])
            probability = probability+((token_frequency/n)*idf)*word_value(appear[i], alpha, original_tokens, top_expansion, wv)
        doc_probab.update({k: probability})
    return doc_probab,not_appear

In [497]:
tfidf_original_query_ext_cand = []
for alpha in [0.5,0.6,0.7,0.8,0.9,1]:
    tfw = tfidf_sum_weights(test+ext, top_list,tokenized_docs,texts, wv_wiki_en, alpha)
    df_tfidf_wsum_original_ext_cand = pd.DataFrame(top_positives(tfw[0],10), columns =['id_tfidf_wsum_original_ext_cand'+str(alpha), 'score'+str(alpha)])
    tfidf_original_query_ext_cand.append(df_tfidf_wsum_original_ext_cand)

In [499]:
# comparing sorting for different alphas, original + ext + cand
frames =[]
for i in range(len(tfidf_original_query_ext_cand)):
    dataf = tfidf_original_query_ext_cand[i].take([0], axis=1)
    frames.append(dataf)
tfidfcon = pd.concat(frames, axis=1)
tfidfcon

,id_tfidf_wsum_original_ext_cand0.5,id_tfidf_wsum_original_ext_cand0.6,id_tfidf_wsum_original_ext_cand0.7,id_tfidf_wsum_original_ext_cand0.8,id_tfidf_wsum_original_ext_cand0.9,id_tfidf_wsum_original_ext_cand1
0,94870,94870,94870,94870,94870,94870
1,92702,92702,92702,92702,92702,92702
2,93604,93604,93604,93604,93604,93604
3,97781,97781,97781,97781,97781,97781
4,93549,93549,93549,93549,93549,93549
5,14571,14571,14571,14571,14571,14571
6,97436,97436,97436,97436,97436,97436
7,100258,100258,100258,100258,100258,100258
8,44382,44382,44382,44382,44382,44382
9,98394,98394,98394,98394,98394,98394